*.[oa]
*.d
*.so
*~
src/*_Dict.cxx
src/*_Dict.h
ZHtautauAnalysis/config/Analysis*.root
ZHtautauAnalysis/config/*/Analysis*.root
ZHtautauAnalysis/config/2012.root
ZHtautauAnalysis/config/*.txt
ZHtautauAnalysis/config/*.csv
config/input.xml
config/jobTempOutput*
macros/Filter/*.txt
macros/Filter/*.csv
macros/Filter/*.root
config/CONDOR/*.sh
config/CONDOR/*.cmd
!config/CONDOR/*condor*.sh
!config/CONDOR/*condor*.cmd
config/CONDOR/*/*
config/CONDOR/*.out
config/CONDOR/*.err
config/CONDOR/resubmit
# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#dynamically generated code
SFrame/bin/sframe_main
SFrame/cintex/src/SFrameCintex_Dict.cxx
SFrame/cintex/src/SFrameCintex_Dict.h
SFrame/core/src/SFrameCore_Dict.cxx
SFrame/core/src/SFrameCore_Dict.h
SFrame/lib/
SFrame/plug-ins/src/SFramePlugIns_Dict.cxx
SFrame/plug-ins/src/SFramePlugIns_Dict.h
SFrame/python/PARHelpers.pyc
SFrame/user/src/SFrameUser_Dict.cxx
SFrame/user/src/SFrameUser_Dict.h
ZHtautauAnalysis/src/ZHtautauAnalysis_Dict.cxx
ZHtautauAnalysis/src/ZHtautauAnalysis_Dict.h

#CVS
TauAnalysis/CVS
TauAnalysis/*/CVS
TauAnalysis/*/*/CVS

RecoLuminosity/

#CONDOR
*.cmd
ZHtautauAnalysis/CONDOR/*/
*.out
*.err
*_ShowStatus.sh
Resubmit_now.sh
resubmit
*_PrepareJobs.sh
*_RunAll.sh
ZHtautauAnalysis/CONDOR/*.list

ZHtautauAnalysis/config/*/*.txt

ZHtautauAnalysis/macros/plots/*/*.root
ZHtautauAnalysis/macros/plots/*/*.pdf
ZHtautauAnalysis/macros/plots/*/*.ps

*jobTempOutput*
*.list